@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=League+Spartan:wght@400;500;700&family=Lexend+Deca&display=swap');

*{
  margin: 0;
  padding: 0;
}

.body {
  background-color: hsl(0, 0%, 100%);
    
}

.container {
  border: solid 1px green; /*УДАЛИТЬ*/ 
}

.container-wrapper {
  max-width: 960px;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  display: grid; 
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr; 
}

.container-info {
  border: solid 1px red; /*УДАЛИТЬ*/
  background-color: aqua; /*УДАЛИТЬ*/
}

.container-info h1 {
  color: hsl(300, 43%, 22%);
  font-family: League Spartan, sans-serif;
  font-weight: 700;
  font-size: 55px;
}

.container-info p {
  color: hsl(303, 10%, 53%);
  font-family: League Spartan, sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  line-height: 22px;
  
}

.container-stars {
  border: solid 1px green; /*УДАЛИТЬ*/
  
}

.container-stars-rewiews {
  width: 400px;
  display: flex;
  align-items: center;
  background-color: hsl(300, 24%, 96%);
  border: solid 2px hsl(0, 0%, 100%);
  border-radius: 10px;
}

.container-stars-rewiews img {
  padding-left: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.container-stars-rewiews p {
  padding-left: 30px;
  color: hsl(300, 43%, 22%);
  font-family: League Spartan, sans-serif;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 15px;
}

.container-stars-report {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  display: flex;
  align-items: center;
  background-color: hsl(300, 24%, 96%);
  border: solid 2px hsl(0, 0%, 100%);
  border-radius: 10px;
}

.container-stars-report img {
  padding-left: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.container-stars-report p {
  padding-left: 30px;
  color: hsl(300, 43%, 22%);
  font-family: League Spartan, sans-serif;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 15px;
}

.container-stars-besttech {
  margin-right: 0;
  margin-left: auto;
  width: 400px;
  display: flex;
  align-items: center;
  background-color: hsl(300, 24%, 96%);
  border: solid 2px hsl(0, 0%, 100%);
  border-radius: 10px;
}

.container-stars-besttech img {
  padding-left: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.container-stars-besttech p {
  padding-left: 30px;
  color: hsl(300, 43%, 22%);
  font-family: League Spartan, sans-serif;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 15px;
}


.container-reviews {
  grid-column: span 2;
  border: solid 1px blue; /*УДАЛИТЬ*/
  background-color: hotpink; /*УДАЛИТЬ*/
}

